@page
@model SE1611_Group1_Project.Pages.Auth._403Model
@{

}

<div class="container text-center" style="width: 85vh">
    <p style="font-size:140px; font-weight:bold">403</p>
    <p style="font-size:60px; font-weight:bold;">Forbidden</p>
    <p style="font-size:34px; font-weight:bold;">Access to this resource on the server is denied!</p>
</div>
