@page
@model SE1611_Group1_Project.Pages.Authen.ForgotPasswordModel
@{
}
<link href="~/css/login.css" rel="stylesheet" />
<body>
	<h1>Reset Password</h1>

	<div class="w3ls-login box box--big">
		<!-- form starts here -->
		<form method="post">
			<div class="agile-field-txt">
				<label><i class="fa fa-user" aria-hidden="true"></i> Email </label>
				<input type="text" name="InputEmail" placeholder="Enter User Email" required />
				<span style="color: red; margin-left:20px; margin-top: 10px;">@Model.MsgErr</span>
			</div>
			<input type="submit" value="Reset">
		</form>
	</div>
</body>