@page
@model SE1611_Group1_Project.Pages.ManagementCategories.EditModel

@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <h1>Edit page</h1>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Category.CategoryId" />
                <div class="form-group my-1">
                    <label asp-for="Category.CategoryName" class="control-label mb-2"></label>
                    <input asp-for="Category.CategoryName" required class="form-control" />
                    <span asp-validation-for="Category.CategoryName" class="text-danger"></span>
                </div>
                <div class="form-group my-1">
                    <label class="control-label mb-2">Description</label>
                    <input asp-for="Category.CategoryDescription" required class="form-control" />
                    <span asp-validation-for="Category.CategoryDescription" class="text-danger"></span>
                </div>
                <div class="form-group my-4">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-page="./Index">Back to List</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
