@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<link href="~/css/Home.css" rel="stylesheet" />
<body>
    <div class="name-sys">
        <p>
           Best Coffee Made For You
        </p>
    </div>
</body>



