@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<link href="~/css/home.css" rel="stylesheet" />
<body>
    <div class="name-sys">
        <p>
            Coffee <br>
            Management
        </p>
    </div>
</body>