
@font-face {
    font-family: 'dancingscript-regular';
    src: url('../font/static/dancingscript-regular.ttf') format('truetype');
}
@font-face {
    font-family: 'dancingscript-medium';
    src: url('../font/static/dancingscript-medium.ttf') format('truetype');
}
@font-face {
    font-family: 'dancingscript-semibold';
    src: url('../font/static/dancingscript-semibold.ttf') format('truetype');
}
@font-face {
    font-family: 'dancingscript-bold';
    src: url('../font/static/dancingscript-bold.ttf') format('truetype');
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 100%;
    background: url('../images/Background_Login.jpg') no-repeat center;
    background-size: cover;
}

.name-sys {
    text-align: center; 
    position: relative;
    width:30%;
    top: 20vh;
    left: 60%;
}

 .name-sys p {
    font-family: dancingscript-regular !important;
    font-size: 6vw !important;
    color:white;
}
   
   
    

