.menu {
    /* background: url('../images/menu_background.jpg') no-repeat center;
    background-size: cover;*/
    background-color: #e9b173;
    width: 100vw;
    height: 88vh;
}
    .menu .list-item {
        border-left: 1px solid white;
    }

    .menu .card {
        border: 1px solid white;
        border-radius: 5px;
    }
        .menu .card .card-img-top{
            border-radius: 5px 5px 0 0;
        }
        .menu .card .card-body {
            text-align: start;
        }
            .menu .card .card-body .card-title {
                margin-bottom: 1rem;
            }
    .menu .btn_pre_next{
        width: 100px;
    }