body {
    background: url('../images/bg-1.jpg') no-repeat center;
    background-size: cover;
    min-height: 88vh;
/*    background-color: RGB(189 147 115);
*/

}

.btn_custom {
    color: white;
    border: 1px solid white;
}

    .btn_custom:hover {
        background-color: white;
        border: 1px solid white;
        color: #a67b5b;
    }

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
    color: burlywood;
    background-color: transparent;
}

.btn_addtocart {
    color: RGB(166 123 91);
    border: 1px solid RGB(166 123 91);
}

    .btn_addtocart:hover {
        background-color: RGB(166 123 91);
    }


.menu .list-item {
    border-left: 1px solid white;
}

.menu .card {
    border: 1px solid white;
    border-radius: 5px;
}

    .menu .card .card-img-top {
        border-radius: 5px 5px 0 0;
    }

    .menu .card .card-body {
        text-align: start;
    }

        .menu .card .card-body .card-title {
            margin-bottom: 1rem;
        }

.menu .btn_pre_next {
    width: 100px;
}
