@page
@model SE1611_Group1_Project.Pages.ManagementFoods.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Food</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Food.FoodName" class="control-label"></label>
                <input asp-for="Food.FoodName" class="form-control" />
                <span asp-validation-for="Food.FoodName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Food.FoodPrice" class="control-label"></label>
                <input asp-for="Food.FoodPrice" class="form-control" />
                <span asp-validation-for="Food.FoodPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Food.FoodImage" class="control-label"></label>
                <input asp-for="Food.FoodImage" class="form-control" />
                <span asp-validation-for="Food.FoodImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Food.FoodStatus" class="control-label"></label>
                <input asp-for="Food.FoodStatus" class="form-control" />
                <span asp-validation-for="Food.FoodStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Food.CategoryId" class="control-label"></label>
                <select asp-for="Food.CategoryId" class ="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
